*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

#showcase{



	
}



.intro {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.intro .animated-bar {
  width: 0;
  height: 3px;
  background: #fff;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bar 5s 3 linear;
          animation: bar 5s 3 linear;
}
.intro .slide {
  width: 100%;
  height: 21.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  overflow: hidden;
}
.intro .slide.slide-a {
  background: #0EB29A;
  z-index: 400;
}
.intro .slide.slide-a .slide-a-child {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s;
}
.intro .slide.slide-a .slide-a-child.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.intro .slide.slide-a p {
  font-size: 25px;
}


.intro .slide .slide-content {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.intro .slide .slide-content h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 20px 0;
}
.intro .slide .slide-content h2 {
  font-size: 60px;
  font-weight: 400;
  margin: 20px 0;
}
.intro .slide .slide-content p {
  font-size: 25px;
  font-weight: 300;
}
.intro .slide .slide-content p a {
  color: #b6483d;
  text-decoration: none;
  position: relative;
}
.intro .slide .slide-content p a:hover::after {
  width: 180px;
}
.intro .slide .slide-content p a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #b6483d;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.5s;
}
.intro .slide .slide-content ul li {
  display: inline-block;
}
.intro .slide .slide-content ul li p {
  position: relative;
}
.intro .slide .slide-content ul li p::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  margin: 0 20px;
  border-radius: 50%;
}
.intro .slide .slide-content ul li:last-of-type p::after {
  display: none;
}
.intro .slide .slide-content button {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: none;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background: #CC584C;
  margin-top: 30px;
  border: 2px solid transparent;
  transition: all 0.5;
  cursor: pointer;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s;
}
.intro .slide .slide-content button:hover {
  background: none;
  border: 2px solid #CC584C;
  color: #b6483d;
}

@-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 50px !important;
    color: black;
  }

  h2 {
    font-size: 45px !important;
  }

  p {
    font-size: 22px !important;

  }
  p a:hover::after {
    width: 160px !important;
  }
}
@media (max-width: 768px) {
  .slide-c-child {
    display: block !important;
  }

  p::after {
    display: none !important;
  }

  button.replay {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-size: 14px !important;
  }

  a:hover::after {
    width: 140px !important;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 33px !important;
  }

  p {
    font-size: 18px !important;
  }
  p a:hover::after {
    width: 130px !important;
  }
}






.subscribe{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Header */


/* Showcase */
#showcase {
  min-height: 390px;
   background-image: url("cool-backgroun.jpg");
 text-align: center;
 color: #ffffff;
}

#showcase h1 {
  margin-top:30px;
  font-size: 55px;
  margin-bottom: 100px;
  color: white;
}

#showcase p {
  font-size: 20px;
  color: white;
}

/* newsletter */



/*Main-col*/
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}



/* Media Queries */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newlsetter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%
  }

  header {
   padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }
